#div-contenedor1{
    display: flex;
    border:2px solid black;
    background-color: rgb(204, 214, 231);
    height: 100px;
    flex-wrap: wrap;
    padding: 10px;
    color: white;
    border-radius: 10px;
    border: 1px solid black;
    margin-bottom: 1px;
} 
#div-encabezado{
    width: 70%;
    color: black;
}
#div-logo{
    background-color: rgb(6, 6, 151);
    width: 25%;
}   
#div-menu1{
    background-color: green;
    width: 30%;
}
#div-menu2{
    background-color: rgb(131, 0, 0);
    width: 60%;
    margin-left: 15%;
}
#div-contenedor1 div{
    height: 45%;
}
#div-contenedor2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 400px;
    color:white;
}
#div-izquierda{
    background-color: rgb(61, 61, 61);
}
#div-centro{
    background-color: rgb(10, 134, 118);
}
#div-derecha{
    background-color: rgb(251, 141, 43);
}
#div-izquierda2{
    width:66% !important;
    background-color: rgb(3, 68, 3);
    margin: 10px 0px;
}
#div-derecha2{
    background-color: rgb(187, 61, 11);
    margin: 10px 0px;
}
#div-contenedor2 div{
    width: 32%;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 5px;
}
#div-contenedor3{
    display:flex;
    background-color: turquoise;
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}
#div-pie{
    width: 85%;
}
#div-elemento{
    background-color: rgb(6, 6, 151);
    align-self: center;
    width: 15%;
    height: 35%;
    text-align: center;
    color:white;
}